/* body{
    background: yellowgreen;
} */
h2 {
    font-size: 30px;
}
table{
    border-collapse: collapse;
    text-align: center;
    
}
td{
    border: 1px solid black;
}
th{
    background-color:gray;
}
td,th{
    padding: 0.5em;
}